.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);

    padding: 20px;

    background-color: white;

    text-align: center;
  }